
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: aliceblue;
    font-family: Helvetica, sans-serif;

    border: 2px black solid;
    border-radius: 25px;
    padding: 20px;
    padding-bottom: 100px;
}

.main-container {
    display: flex;
    width: 512px;
    height: 512px;

}

.controls {
    padding: 10px;
    padding-bottom: 3r0px;
}

.center {
    display: flex;
    gap: 20px;
}



.button {
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
    padding: 10px;

    transition: all 75ms;
}

.hover {
    transform: scale(1.1);
}

.click {
    filter: brightness(85%);
}

.column {
    flex: 1;

    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

h1 {
    font-size: 72px;
    margin: 0;
}

.pixel {
    background-color: white;
    min-width: 1px;
    min-height: 1px;
    flex: 1;

}

.colored {
    
}

.blank {
    background-color: black;
}

.color-picker {
    height: 512px;
    width: 200px;
    border: 2px black solid;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#colorPicker {
    border: 0;
    flex: 1;
}